---
import fetchApi from "../../lib/strapi";

const posts = await fetchApi({
  endpoint: "posts",
  query: { populate: "*" },
  wrappedByKey: "data",
});
---

<html>
  <body>
    <h1>Posts</h1>
    {
      posts.map((post) => {
        const postTitle = post.attributes.title;
        // const imageUrl = post.attributes.image.data.attributes.url;
        return (
          <li>
            <div>
              <h2>{postTitle}</h2>
              {/* <img src={imageUrl} class="h-24" alt="" /> */}
            </div>
          </li>
        );
      })
    }
  </body>
</html>
