#navbar-sticky {
    position: relative;
}

/* button animation */
#download-button:hover {
    color: theme("colors.purple.50");
    background: theme("colors.purple.600");
    box-shadow:
        0 0 20px theme("colors.purple.600"),
        0 0 30px theme("colors.purple.500"),
        0 0 40px theme("colors.purple.400");
}

/* navigation bar animation */
#marker {
    position: absolute;
    bottom: 25px;
    height: 100%;
    width: 45px;
    border-top: 5px solid #08f9ff;
    background: linear-gradient(180deg, #08f9ff33, transparent);
    transition: 0.5s;
    pointer-events: none;
    filter: drop-shadow(0 25px 15px #08f9ff);
}