---
import Head from "../components/Head.astro";
import Navigation from "../components/PrimaryNavigation.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Socials from "../components/Socials.astro";
import "../styles/globals.css";
import "../styles/index.css";
---

<html lang="en">
  <Head />
  <body class="bg-img-home">
    <!-- <canvas
      id="canvas"
      class="fixed top-0 left-0 w-full h-full pointer-events-none">
      </canvas> -->
    <div class="flex flex-col items-center">
      <header class="w-5/6 mt-6">
        <Navigation />
      </header>
      <main class="w-5/6">
        <Hero />
      </main>
    </div>

    <Footer />
    <Socials />

    <!-- <div class="scene">
      <div class="rocket">
        <img src="rocket.png" alt="Rocket" />
      </div>
    </div> -->

    <!-- import animation dependencies -->
    <script src="../scripts/bg_rocket.js"></script>
    <!-- <script src="../scripts/bg_stardust.js"></script> -->
  </body>
</html>
