---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Email from "../components/Email.astro";
import "../styles/globals.css";
import "../styles/index.css";
---

<html lang="en">
  <Head />
  <body class="bg-img-background">
    <canvas
      id="canvas"
      class="fixed top-0 left-0 w-full h-full pointer-events-none"
    >
    </canvas>
    <div class="flex flex-col items-center">
      <header class="w-5/6 mt-6">
        <!-- <Header /> -->
      </header>
      <main class="w-5/6 md:mt-10">
        <Hero />
      </main>
    </div>
    <Email />
    <Footer />

    <!-- <div class="scene">
      <div class="rocket">
        <img src="rocket.png" alt="Rocket" />
      </div>
    </div> -->

    <!-- import animation dependencies -->
    <!-- <script src="../scripts/bg_rocket.js"></script> -->
    <script src="../scripts/bg_stardust.js"></script>
  </body>
</html>
