---

---

<button class="inline-flex items-center font-footer gap-2 group">
  <img
    src="/src/icons/email.svg"
    class="group-hover:animate-jello"
    alt="icon"
  />
  <span class="text-lg font-lightbold text-white">Contact Me</span>
</button>
