---

---

<div class="hidden fixed md:flex items-center bottom-20 gap-2 w-max -rotate-90">
  <svg height="15" width="45" xmlns="http://www.w3.org/2000/svg">
    <line x1="0" y1="10" x2="250" y2="10" style="stroke:white;stroke-width:2"
    ></line>
  </svg>
  <a
    href="mailto:email@karanshergill.com"
    class="text-xs font-footer text-white tracking-wider hover:bg-gradient-hero hover:text-transparent hover:bg-clip-text"
  >
    email@karanshergill.com
  </a>
</div>
