---
const copyrightYear = new Date().getFullYear();
---

<footer
  class="flex flex-col gap-1 items-center justify-center font-footer text-xs text-white"
>
  <p>Copyright &copy; {copyrightYear}</p>
  <p>Designed & Developed in India</p>
</footer>
