---

---

<footer>
  <div class="flex py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
    <span class="mx-auto text-sm font-medium text-gray-500">
      Copyright © <span>2024</span>
      <a href="/">Karan Shergill</a>
    </span>
  </div>
</footer>
