---

---

<section class="bg-transparent dark:bg-transparent mt-20">
  <div
    class="grid max-w-screen-xl px-4 pt-8 mx-auto lg:gap-8 xl:gap-0 lg:pt-14 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-8">
      <p
        class="max-w-2xl mb-1 font-light text-gray-100 text-lg lg:mb-3 md:text-xl lg:text-2xl dark:text-gray-100"
      >
        Hi, my name is
      </p>
      <h1
        class="font-comfortaa max-w-2xl mb-2 text-4xl font-extrabold tracking-wide left md:text-5xl xl:text-6xl dark:text-white pb-1.5"
      >
        Karan Shergill.
      </h1>
      <h1
        class="font-comfortaa max-w-2xl mb-1 text-4xl font-extrabold right md:text-5xl xl:text-5xl dark:text-white pb-1.5"
      >
        I build things for the web.
      </h1>
      <p
        class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
      >
        Software Engineer and a Certified Ethical Hacker based in India.
      </p>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-4 lg:flex animation-wrapper">
      <img src="hero.png" alt="" />
    </div>
  </div>
</section>

<style>
  h1 {
    --to: left;
    background-image: linear-gradient(to var(--to), #89a5df, #e46e7f, #e8e191);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1.right {
    --to: right;
  }

  .animation-wrapper {
    background-blend-mode: screen;
    background-size: cover;
    animation-name: hue;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes hue {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(359deg);
    }
  }

  @keyframes shiftblur {
    from {
      filter: hue-rotate(0deg) blur(20px);
    }
    to {
      filter: hue-rotate(359deg) blur(200px);
      transform: scale(2);
    }
  }
</style>
