---
import { MobileNavigation } from "./react/MobileNavigation.jsx";
import FlipText from "./react/FlipText";
import navigationItems from "../data/navigationItems";
const currentPath = new URL(Astro.request.url).pathname.slice(1);
---

<nav id="navbar-sticky" class="relative flex items-center justify-between">
  <MobileNavigation currentPath={currentPath} client:load />
  <ul class="hidden md:flex gap-6 font-description text-white">
    {
      navigationItems.map((item) => (
        <li>
          <a
            href={item.path}
            class={currentPath === item.path ? "active-class" : ""}
          >
            <FlipText label={item.label} client:load />
          </a>
        </li>
      ))
    }
  </ul>
</nav>
