---

---

<div class="flex flex-col fixed bottom-0 left-0 p-5 items-center">
  <div class="w-px h-24 bg-white mb-5"></div>
  <a
    href="https://github.com/karanshergill"
    target="_blank"
    aria-label="GitHub"
    class="text-white hover:text-blue-500 mb-4"><i class="fab fa-github"></i></a
  >
  <a
    href="https://twitter.com/"
    target="_blank"
    aria-label="Twitter"
    class="text-white hover:text-blue-500 mb-4"
    ><i class="fab fa-twitter"></i></a
  >
  <a
    href="https://linkedin.com/"
    target="_blank"
    aria-label="LinkedIn"
    class="text-white hover:text-blue-500 mb-4"
    ><i class="fab fa-linkedin"></i></a
  >
  <a
    href="https://instagram.com/"
    target="_blank"
    aria-label="Instagram"
    class="text-white hover:text-blue-500 mb-4"
    ><i class="fab fa-instagram"></i></a
  >
</div>
